node_modules/
.env

# Ignore every uploaded file recursively
uploads/**

# Keep upload folders
!uploads/profiles/
!uploads/students/
!uploads/teachers/
!uploads/teacher-cvs/

# Keep only .gitkeep files
!uploads/profiles/.gitkeep
!uploads/students/.gitkeep
!uploads/teachers/.gitkeep
!uploads/teacher-cvs/.gitkeep